 <nav>
   <div class="dropdown">
     <button class="dropbtn">Change Location</button>
     <div class="dropdown_content">
       <a href="#"(click)="changeLocation('Lansing')">Lansing</a>
       <a href="#"(click)="changeLocation('Grand Rapids')">Grand Rapids</a>
       <a href="#" (click)="changeLocation('Cleveland')">Cleveland</a>
       <a href="#" (click)="changeLocation('Cincinnati')">Cincinnati</a>
       <a href="#" (click)="changeLocation('Indianapolis')">Indianapolis</a>
       <a href="#" (click)="changeLocation('Chicago')">Chicago</a>
     </div>
   </div>
 </nav>
 
 <form #eventForm="ngForm" (ngSubmit)="searchTicketmaster(eventForm)">
    <label for="">What do you want to search for? </label>
    <input type="text" name="eventSearch" ngModel>
    <button>Search</button>
  </form>
  <div>
    <button (click)="filterByDate()">Sort by Date</button>
  </div>
  <div>
    <button (click)="fetchComedy()">Comedy</button>
    <button (click)="fetchMLB()">MLB</button>
    <button (click)="fetchNFL()">NFL</button>
    <button (click)="fetchMusic()">Music</button>
    <button (click)="fetchTheatre()">Theatre</button>
  </div>
  <event-list
  [eventInfo] = "eventInfo"
 ></event-list>
 