 <nav>
   <div class="dropdown">
     <button class="dropbtn">{{this.tempLocation}}</button>
     <div class="dropdown_content">
       <a (click)="changeLocation('Lansing')">Lansing</a>
       <a (click)="changeLocation('Grand Rapids')">Grand Rapids</a>
       <a  (click)="changeLocation('Cleveland')">Cleveland</a>
       <a  (click)="changeLocation('Cincinnati')">Cincinnati</a>
       <a  (click)="changeLocation('Indianapolis')">Indianapolis</a>
       <a  (click)="changeLocation('Chicago')">Chicago</a>
       <a *ngIf="this.tempLocation !== 'Detroit'" (click)="changeLocation('Detroit')">Detroit</a>
     </div>
   </div>
 </nav>
 
 <form #eventForm="ngForm" (ngSubmit)="searchTicketmaster(eventForm)">
    <label for="">What are you doing tonight?</label>
    <div>
      <input type="text" name="eventSearch" ngModel>
      <button><i class="material-icons">search</i></button>
    </div>
  </form>
  <div>
    <button (click)="filterByDate()">Sort by Date</button>
    <button (click)="filterByPrice()">Sort by Price</button>
  </div>
  <div>
    <button (click)="fetchComedy()">Comedy</button>
    <button (click)="fetchMLB()">MLB</button>
    <button (click)="fetchNFL()">NFL</button>
    <button (click)="fetchMusic()">Music</button>
    <button (click)="fetchTheatre()">Theatre</button>
  </div>
  <event-list
  [eventInfo] = "eventInfo"
 ></event-list>