<header>
    <h1>TicketSearch</h1>

    <nav>
        <a class="navLink" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="navLink" routerLink="/bucket-list-page" routerLinkActive>Bucket List</a>
    </nav>
</header>

<h2>My Bucket List</h2>

<section>
    <div *ngFor="let fav of favorites; index as i" class="eventDiv">
        <p class="name">{{ fav.name }}</p>
        <img class="eventImg" src="{{ fav.images[1].url }}">
        <p>{{ fav.dates.start.localDate }}</p>
        <p>{{ fav._embedded.venues[0].city.name }}, {{ fav._embedded.venues[0].state.stateCode }}
            {{ fav._embedded.venues[0].country.countryCode }}</p>
        <i class="material-icons" (click)="deleteFavorite(event)">favorite</i>
        <a href="{{ fav.url }}" target="_blank"><img class="ticket" src="../../assets/ticket.png"></a>
    </div>
</section>